<div class="container-sm">
  <div class="row d-flex justify-content-center mt-1 mb-3">
    <div class="col-6 col-md-5 col-lg-4 text-center ">
      <form action="/sort" method="GET" class="form-group">
        {{!-- sort by category  --}}
        <label for="categoryId" class="form-label mt-4 fs-4 fw-bold">類別</label>
        <select class="form-select" id="categoryId" name="categoryId">
          <option value="all" {{#ifCond categoryId 'all'}} selected {{/ifCond}}>所有類別</option>
          {{#each categories}}
          <option value="{{this._id}}" {{#if this.selected}} selected {{/if}}>{{this.name}}</option>{{/each}}
        </select>
        {{!-- sort by date --}}
        <label class="form-label fs-4 fw-bold mt-2" for="startDate">日期</label>
        <div class="d-flex justify-content-center">
          <div class="form-outline form-white me-2">
            <input type="date" id="startDate" name="startDate" class="form-control" value={{startDate}}>
          </div>
          <span class="fs-2 fw-bold">-</span>
          <div class="form-outline form-white ms-2">
            <input type="date" id="endDate" name="endDate" class="form-control" value={{endDate}}>
          </div>
        </div>
        {{!-- Order by  --}}
        <label for="orderBy" class="form-label fs-4 fw-bold mt-2">排序方式</label>
        <select class="form-select" id="orderBy" name="orderBy">
          <option value="date-desc" {{#ifCond orderBy 'date-desc'}} selected {{/ifCond}}>日期：近->遠</option>
          <option value="date-asc" {{#ifCond orderBy 'date-asc'}} selected {{/ifCond}}>日期：遠->近</option>
          <option value="amount-desc" {{#ifCond orderBy 'amount-desc'}} selected {{/ifCond}}>金額：高->低</option>
          <option value="amount-asc" {{#ifCond orderBy 'amount-asc'}} selected {{/ifCond}}>金額：低->高</option>
        </select>
        {{!-- submit button  --}}
          <button class="btn btn-dark mt-3 w-50" type="submit">篩選</button>
      </form>
    </div>
  </div>
  <div class="row d-flex my-4">
    <div class="col col-sm-12 text-center">
      <span class="fs-5 text-muted align-top mx-2" id="totalAmount">總金額:</span>
      <span class="fw-bold mx-3 totalAmount"
        style="color: rgb(88, 160, 180); font-size:3.8rem">{{totalAmount}}</span>
    </div>
  </div>
  <div class="row d-flex justify-content-center px-1 my-4">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col" class=" fs-5 fw-bold text-center">類別</th>
          <th scope="col" class=" fs-5 fw-bold text-center">日期</th>
          <th scope="col" class=" fs-5 fw-bold text-center">名稱</th>
          <th scope="col" class=" fs-5 fw-bold text-center">金額</th>
          <th scope="col" class=" fs-5 fw-bold text-center">修改/刪除</th>
        </tr>
      </thead>
      <tbody>
        {{#each records}}
        <tr>
          <th scope="row" class="text-center fs-4"><span
              style="color: rgb(88, 160, 180);">{{{this.categoryId.url}}}</span></th>
          <td class="text-wrap text-center fs-6">{{this.date}}</td>
          <td class="text-wrap text-center fs-6">{{this.itemName}}</td>
          <td class="text-wrap text-center fs-6">{{this.amount}}</td>
          <td class="text-center">
            <a href="./records/{{this._id}}/edit"><button
                class="btn btn-outline-info btn-sm edit-btn mx-2 fs-6 "><span
                  style="color: rgb(88, 160, 180);"><i class="fa-solid fa-pen"></i></span></button></a>
            <form action="./records/{{this._id}}?_method=DELETE" method="POST"
              style="display:inline;"><button
                class="btn btn-outline-info btn-sm delete-btn fs-6"
                type="submit"><span style="color: rgb(88, 160, 180);"><i
                    class="fa-solid fa-trash"></i></span></button></form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="row d-flex justify-content-center my-4">
    <div class="col text-center">
      <a href="/records/new"><button class="btn btn-outline-info col-sm-3"
          style="font-family: huninn;">新增支出</button></a>
    </div>
  </div>
</div>